.container{
    max-width: 80%;
    max-height: auto;
    margin: 0 auto;
    padding: 20px;
}

h1{
    font-size: 40px;
    margin-bottom: 25px;
}

form{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

input{
    width: 30%;
    padding: 10px;
    border: 1px solid rgb(133, 39, 39);
    border-radius: 5px;
}

button{
    color: white;
    background-color: rgb(90, 50, 109);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-left: 2px;
    cursor: pointer;
    transition: 0.5s all ease;
}

button:hover{
    background-color:rgb(185, 107, 107) ;
}

.movie-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.movie-card{
    background-color: rgb(133, 109, 156);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2 5px 4px rgb(0, 0, 0);
    
}

.movie-card img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.movie-card h2{
    font-size: 20px;
    margin-bottom: 10px;
}

.movie-card p{
    font-size: 15px;
    margin-bottom: 5px;
}